In [ ]:
import pandas as pd
import numpy as np

In [ ]:
URL = 'https://raw.githubusercontent.com/aviralb13/git-codes/main/datas/credit.csv'
data=pd.read_csv(URL)
data.head()

,Gender,Age,Debt,Married,BankCustomer,Industry,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,Approved
0,1,30.83,0.00,1,1,Industrials,White,1.25,1,1,1,0,ByBirth,202,0,1
1,0,58.67,4.46,1,1,Materials,Black,3.04,1,1,6,0,ByBirth,43,560,1
2,0,24.50,0.50,1,1,Materials,Black,1.50,1,0,0,0,ByBirth,280,824,1
3,1,27.83,1.54,1,1,Industrials,White,3.75,1,1,5,1,ByBirth,100,3,1
4,1,20.17,5.62,1,1,Industrials,White,1.71,1,0,0,0,ByOtherMeans,120,0,1

In [ ]:
data.columns

Index(['Gender', 'Age', 'Debt', 'Married', 'BankCustomer', 'Industry',
       'Ethnicity', 'YearsEmployed', 'PriorDefault', 'Employed', 'CreditScore',
       'DriversLicense', 'Citizen', 'ZipCode', 'Income', 'Approved'],
      dtype='object')

In [ ]:
features = ['Gender', 'Age', 'Debt', 'Married', 'BankCustomer', 'YearsEmployed', 'PriorDefault', 'Employed', 'CreditScore','DriversLicense',  'ZipCode', 'Income']
x=data[features]
y = data['Approved']

In [ ]:
from sklearn.model_selection import train_test_split

train_x,test_x,train_y,test_y = train_test_split(x,y)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
regressor_model = RandomForestClassifier(n_estimators = 10, random_state = 0)
regressor_model.fit(train_x,train_y)

RandomForestClassifier(n_estimators=10, random_state=0)

In [ ]:
predictions = regressor_model.predict(test_x)

In [ ]:
from sklearn.metrics import accuracy_score

accuracy_score(test_y, predictions)

0.8554913294797688