In [1]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

import pandas as pd 
import numpy as np

In [2]:
url = 'https://raw.githubusercontent.com/aviralb13/codes/main/datas/house_prediction(lr).csv'
house = pd.read_csv(url)
house.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [3]:
house.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [4]:
features= ['condition','grade','yr_built','floors','sqft_living']

x = house[features]
y = house['price']

In [5]:
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [6]:
train_x, val_x, train_y, val_y = train_test_split(x,y)
linear_model = LinearRegression()
linear_model.fit(train_x,train_y)

LinearRegression()

In [7]:
from sklearn.metrics import mean_absolute_error

val_predictions = linear_model.predict(val_x)
print(mean_absolute_error(val_y, val_predictions))

148048.57556950662

In [8]:
linear_model.predict([[3,7,1951,2.0,2570]])

array([610462.75822158])

In [9]:
x.head()

   condition  grade  yr_built  floors  sqft_living
0          3      7      1955     1.0         1180
1          3      7      1951     2.0         2570
2          3      6      1933     1.0          770
3          5      7      1965     1.0         1960
4          3      8      1987     1.0         1680

In [10]:
y.head()

0    221900.0
1    538000.0
2    180000.0
3    604000.0
4    510000.0
Name: price, dtype: float64