In [1]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

import pandas as pd

In [2]:
URL = 'https://raw.githubusercontent.com/aviralb13/codes/main/datas/travel%20insurance(dt).csv'
data = pd.read_csv(URL)
data.head()

,Unnamed: 0,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,0,31,Government Sector,Yes,400000,6,1,No,No,0
1,1,31,Private Sector/Self Employed,Yes,1250000,7,0,No,No,0
2,2,34,Private Sector/Self Employed,Yes,500000,4,1,No,No,1
3,3,28,Private Sector/Self Employed,Yes,700000,3,1,No,No,0
4,4,28,Private Sector/Self Employed,Yes,700000,8,1,Yes,No,0

In [3]:
from sklearn import preprocessing
label = preprocessing.LabelEncoder()
data['Employment Type'] = label.fit_transform(data['Employment Type'])
data['GraduateOrNot'] = label.fit_transform(data['GraduateOrNot'])
data['FrequentFlyer'] = label.fit_transform(data['FrequentFlyer'])
data['EverTravelledAbroad'] = label.fit_transform(data['EverTravelledAbroad'])
data.head()

,Unnamed: 0,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,0,31,0,1,400000,6,1,0,0,0
1,1,31,1,1,1250000,7,0,0,0,0
2,2,34,1,1,500000,4,1,0,0,1
3,3,28,1,1,700000,3,1,0,0,0
4,4,28,1,1,700000,8,1,1,0,0

In [4]:
features = [ 'Age', 'Employment Type', 'GraduateOrNot', 'AnnualIncome','FamilyMembers', 'ChronicDiseases', 'FrequentFlyer', 'EverTravelledAbroad']
x = data[features]
y = data.TravelInsurance

In [5]:
from sklearn.model_selection import train_test_split

train_x,test_x,train_y,test_y = train_test_split(x,y)

In [6]:
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier()
tree.fit(train_x,train_y)

DecisionTreeClassifier()

In [7]:
prediction = tree.predict(test_x)

In [8]:
tree.predict([[31,0,1,400000,6,1,0,0]])

array([0])

In [9]:
from sklearn.metrics import accuracy_score

accuracy_score(test_y, prediction)

0.7806841046277666