In [1]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

import pandas as pd

In [2]:
URL = 'https://raw.githubusercontent.com/aviralb13/codes/main/datas/vehicle%20insursnce.csv'
data = pd.read_csv(URL)
data.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [3]:
from sklearn import preprocessing
label = preprocessing.LabelEncoder()

data['Gender'] = label.fit_transform(data['Gender'])
data['Vehicle_Age'] = label.fit_transform(data['Vehicle_Age'])
data['Vehicle_Damage'] = label.fit_transform(data['Vehicle_Damage'])

data.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,1,44,1,28.0,0,2,1,40454.0,26.0,217,1
1,2,1,76,1,3.0,0,0,0,33536.0,26.0,183,0
2,3,1,47,1,28.0,0,2,1,38294.0,26.0,27,1
3,4,1,21,1,11.0,1,1,0,28619.0,152.0,203,0
4,5,0,29,1,41.0,1,1,0,27496.0,152.0,39,0

In [4]:
features = ['Gender', 'Age','Vehicle_Age','Vehicle_Damage','Annual_Premium']
x = data[features]
y = data['Response']

In [5]:
from sklearn.model_selection import train_test_split

train_x, test_x, train_y, test_y = train_test_split(x,y)

In [6]:
from sklearn.ensemble import RandomForestClassifier
regressor_model = RandomForestClassifier(n_estimators = 10, random_state = 0)
regressor_model.fit(train_x,train_y)

RandomForestClassifier(n_estimators=10, random_state=0)

In [7]:
predictions = regressor_model.predict(test_x)

In [8]:
regressor_model.predict([[1,44,2,1,40454.0]])

array([1])

In [9]:
from sklearn.metrics import accuracy_score

accuracy_score(test_y, predictions)

0.8406347740296816